html {
	font-family: MicrosoftYaHei,SimHei,SimSun;
}
a {
    cursor: pointer;
    text-decoration: none;
}
* {
	margin: 0 auto;
	padding: 0;
}
button {
	cursor: pointer;
}
ul {
	list-style: none;
}
.clear {
	clear: both;
}
.flex1 {
	flex: 1;
}
